/* CSS for a Dark Mode Login Page */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1e1e1e, #3a3a3a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #f0f0f0;
}

.login-container {
    background: rgba(30, 30, 30, 0.9);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 24px;
    color: #f0f0f0;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    color: #ccc;
}

.login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #555;
    border-radius: 6px;
    font-size: 16px;
    background: #2a2a2a;
    color: #f0f0f0;
}

.login-container input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    background: none;
    border: 2px solid #f0f0f0;
    color: #f0f0f0;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background: #ff8c00;
    color: #fff;
    border: 2px solid #1e1e1e;
}

.toggle-password {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 47%;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 20px;
}

/* Styling for buttons */
.tool-button {
    background: #444;
    border: 1px solid #444;
    padding: 10px 20px;
    border-radius: 6px;
    color: #f0f0f0;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease, border 0.3s ease;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.tool-button:hover {
    background: #ff8c00;
    border: 1px solid #ff8c00;
    color: #fff;
}

.tool-button a {
    text-decoration: none;
    color: inherit;
}

/* Styling for links */
.logout-link {
    color: #ff8c00;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.logout-link:hover {
    color: #fff;
}
